<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="ltr">
  {{ partial "head.html" . }}
  {{ partial "magzine/header-magzine.html" . }}
  <body class="list-body">
    {{ partial "nav-bar.html" . }}
    <main class="card-container side-gutter">
      {{ if or (not (eq .Description "")) (not (eq .Title "")) -}}
      <header class="list-header">
        {{ with .Description }}<p class="list-header-subtext">{{ . }}</p>{{ end }}
        {{ with .Title }}<h1 class="list-header-title">{{ . }}</h1>{{ end }}
      </header>
      {{- end }}
      {{ with .Content -}}
      <section class="list-header-content">
        {{ . }}
      </section>
      {{- end }}
    </main>

    {{ partial "scripts.html" . }}
  </body>
</html>
